Builds/
Library/
Temp/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
*.sln
*.csproj
game/Assets/Resources/savedata.dat
game/Assets/Resources/savedata.dat.meta
